body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

div{
    text-align: center;
    position: 100%;
}

div > input{
    position: 100%;
    
}

button{
    position: absolute;
    margin-left: 47%;
}